<link rel="stylesheet" href="/css/order.css">

    <div class="container">
        <h1>Manage Orders</h1>

        <% if (orders.length > 0) { %>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Order ID</th>
                            <th>User</th>
                            <th>Total Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                            <tr>
                                <td><%= order._id %></td>
                                <td><%= order.user.name %></td>
                                <td>RS.<%= order.totalPrice.toFixed(2) %></td>
                                <td><%= order.status %></td>
                                <td>
                                    <form action="/admin/orders/<%= order._id %>/update-status" method="POST" class="d-flex align-items-center">
                                        <select name="status" class="form-select me-2">
                                            <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                                            <option value="Shipped" <%= order.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                            <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary btn-sm">Update</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        <% } else { %>
            <p class="text-center">No orders found.</p>
        <% } %>
    </div>
